* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background: url(./assets/img-fundo.png) 
    no-repeat center center fixed;
    background-size: cover;*/
    background: linear-gradient(#0a0a19, #1a1a2e);


}

header {
    width: 100%;
    height: auto;
    background-color: transparent;
    color: white;
    display: flex;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #54c7ee, #c893dd, #9b59b6) 1;
    position: fixed;
}


.title {
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 20px;

}

.title img {
    filter: invert(78%) sepia(14%) saturate(2592%) hue-rotate(167deg) brightness(96%) contrast(93%);

}

.title h3 {
    background: linear-gradient(90deg, #54c7ee, #9b59b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Orbitron  ", sans-serif;
}

.title span {
    color: #54c7ee;
}

nav {
    margin: auto;

}

nav ul {
    display: flex;
    gap: 70px;
    list-style-type: none;


}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #54c7ee;
    text-shadow: 0 0 10px rgba(84, 199, 238, 0.5);
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}


.container-left {
    width: 60%;
    margin-top: 12%;
    padding-left: 136px;
}


.container-left h3 {
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

.container-left h1 {
    font-size: 60px;
    background: linear-gradient(90deg, #a150c1, #54c7ee, #27baeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Orbitron  ", sans-serif;
    margin-bottom: 20px;
}

.container-left p {
    font-size: 20px;
    color: white;
    font-family: "Inter", sans-serif;
    margin-bottom: 40px;
    line-height: 2;
    letter-spacing: 0.5px;
}

.btn-cont-left button {
    background-color: #0645cc;
    border: none;
    color: white;
    padding: 15px 40px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    transition: all 300ms ease;
    box-shadow: 0 4px 15px rgba(6, 69, 204, 0.3);
}

.btn-cont-left button:hover {
    background-color: #0533a0;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(6, 69, 204, 0.5);
}

.container-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content {
    width: 100%;
    max-width: 520px;
    display: flex;
    justify-content: center;
}




.code-box {
    position: relative;
    z-index: 2;
    /* FICA NA FRENTE */
    height: 500px;
    left: -10%;
}


.dev-card .icon {
    font-size: 32px;
    color: #6cf;
}



/* Código digitando */
.code-box {
    margin-top: 140px;
    padding: 20px;
    background: rgba(10, 10, 25, 0.8);
    border-radius: 14px;
    color: #9cdcfe;
    font-family: "Courier New", monospace;
    font-size: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .6);
    min-height: 180px;
}

/* Cursor piscando */
#typing::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.sobre {
    width: 100%;
    height: auto;
    padding: 0 80px;
    margin-top: 40px;
}


.about {
    width: 100%;
    text-align: center;
    margin: 80px 0 40px 0;
}

/* Linha da esquerda */
.section-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -80px;
    width: 60px;
    height: 2px;
    background: linear-gradient(to right, transparent, #c77dff);
    transform: translateY(-50%);
}

/* Linha da direita */
.section-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -80px;
    width: 60px;
    height: 2px;
    background: linear-gradient(to left, transparent, #c77dff);
    transform: translateY(-50%);
}

/* Linha de baixo */
.section-title {
    border-bottom: 1px solid #c77dff;
}

.sobremim {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
    flex-wrap: wrap;
}

.sobremim p {
    color: #ccc;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

.textos {
    display: flex;
    flex-direction: column;
    display: inline-block;
    width: 40%;
    min-width: 280px;
}

.box {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    height: 600px;
}

.text-about-my {
    width: 40%;
    min-width: 280px;
    height: auto;
    border-radius: 10px;
    border: solid 1px #c77dff;
}

.text-about-my h2 {
    color: white;
    font-size: 26px;
    font-family: "Orbitron  ", sans-serif;
    margin-bottom: 10px;
    padding-top: 10px;
}

.text-about-my .introducao {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;

}

.text-about-my .apresentation {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    height: auto;
}

.minha-jornada {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    font-family: "Georgia", sans-serif;
}

.quote-box span {
    display: block;
    margin-top: 8px;
    color: #54c7ee;
    font-style: italic;

    left: 0px;
}

.quote-box {
    position: relative;
    /* necessário para posicionar o ::before */
    padding-left: 18px;
    /* espaço entre a linha e o texto */
    font-family: Georgia, serif;
    color: white;
    margin-top: 50px;
}

.quote-box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    /* altura da linha */
    width: 4px;
    /* espessura */
    background-color: #bb00ff;
    /* cor da linha */
    border-radius: 2px;
    /* arredondamento igual da imagem */
}

.section-title {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 12px;
    /* espaço da linha de baixo */
    font-family: "Orbitron  ", sans-serif;
}



.about p {
    margin-top: 16px;
    font-size: 16px;
    color: #ccc;
    line-height: 1.6;
    font-family: "Inter", sans-serif;
}



.qualidades {
    margin-top: 8px;
    font-size: 14px;
    color: #aaa;
    font-style: italic;
    border-bottom: 1px solid #c77dff;
    border-width: 0 0 1px 0;
    padding-bottom: 7px;

}

.qualidades::before {
    content: "✓";
    color: #54c7ee;
    margin-right: 8px;
}


.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    /* centraliza no meio da tela */
    gap: 30px;
    /* espaço entre os cards */
    flex-wrap: wrap;
    /* quebra linha no mobile */
    padding: 40px 20px 120px 20px;
    min-height: auto;
    height: auto;

}



.box-1 {
    width: 420px;
    background-color: #ffffff;
    border-radius: 16px;
    overflow: visible;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
}

.box-1:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}




.box-1 img {
    width: 100%;
    height: 220px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;

}


.box-two-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: url(./assets/img-fundoo.png);
    flex: 1;
}

.card-description {
    font-size: 13px;
    color: #aaa;
    line-height: 1.5;
    font-style: italic;
    margin: 5px 0;
}

.box-two-box h3 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    font-family: "Orbitron  ", sans-serif;


}

.box-two-box p {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}

.card-footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


.card-footer button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.card-footer button:hover:not(:disabled) {
    background: linear-gradient(135deg, #54c7ee, #9b59b6);
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(84, 199, 238, 0.4);
}

.card-footer button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.habilidades {
    width: 100%;
    height: auto;
    text-align: center;

}

.icons {
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    justify-content: center;
    gap: 40px;
}


.icon p {

    color: #28ceaa;

}

.icon svg {
    color: #89CFF0;
    font-size: 48px;
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
}


.icon svg:hover {
    transform: scale(1.1);
    color: #28ceaa;
}

@media (max-width: 768px) {
    .icons {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        max-width: 280px;
    }

    .icon svg {
        font-size: 42px;
        width: 42px;
        height: 42px;
    }
}


/* Responsivo */

@media (max-width: 1130px) {

    header {
        display: none;
    }

    .sobre {
        padding: 0 20px;
    }

    .sobremim {
        flex-direction: column;
        align-items: center;
    }

    .textos {
        width: 100%;
        margin-bottom: 30px;
    }

    .text-about-my {
        width: 100%;
        height: auto;
        min-height: 500px;
    }

    .box {
        width: 100%;
        height: auto;
    }

    .section-title::before,
    .section-title::after {
        display: none;
    }

    .introducao {
        padding: 0px 20px 0px 20px
    }

    .apresentation {
        padding: 0px 20px 0px 20px;
    }

    .quote-box {
        margin-top: auto;
        padding: 0px 20px 0px 20px;
    }

    .quote-box::before {
        display: none;
    }

    .wrapper {
        flex-direction: column;
        height: auto;
    }


    .container-left {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .container-left h1 {
        font-size: 40px;
    }

    .container-left p {
        font-size: 16px;
        margin: 0 20px 40px 20px;
        line-height: normal;
    }

    .container-right {
        width: 100%;
        height: auto;
        margin-top: 30px;

    }

    .right-content {
        display: none;
    }



    .btn-cont-left {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .cards {
        padding: 40px 10px 200px 10px;
    }



    .habilidades {
        margin-top: -100px;

    }

    .icon {}

    .box-1 {
        width: 100%;
        max-width: 350px;
        overflow: visible !important;
    }

    .box-1 img {
        height: 180px;
    }

}